In [9]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
df_ratings = pd.read_csv('C:/Users/x473970/Downloads/title.ratings.tsv.gz', compression='gzip', 
                                 header=0, sep='\t', quotechar='"')

In [3]:
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2002
1  tt0000002            5.8       269
2  tt0000003            6.5      1894
3  tt0000004            5.5       178
4  tt0000005            6.2      2678

In [4]:
df_basics = pd.read_csv(r'C:/Users/x473970/Downloads/title.basics.tsv.gz', compression='gzip', 
                                 header=0, sep='\t', quotechar='"',encoding='utf-8')

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10248781 entries, 0 to 10248780
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 703.7+ MB

In [7]:
df_basics['genres'].replace("\\N" "", inplace=True)
df_basics['runtimeMinutes'].replace("\\N" "", inplace=True)
df_basics.dropna(subset=['genres','runtimeMinutes'], inplace=True)

In [8]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10248763 entries, 0 to 10248780
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 781.9+ MB

In [9]:
filter = df_basics["titleType"] != "short"
df_basics = df_basics[filter]

In [10]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,"Crime,Drama,Mystery"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama

In [11]:
df_basics['startYear'].replace("\\N" "", inplace=True)
df_basics['startYear'].fillna(value = -1, inplace = True)

In [12]:
df_basics['startYear'] = pd.to_numeric(df_basics['startYear'])
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9291356 entries, 8 to 10248780
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       int64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 708.9+ MB

In [13]:
filter = df_basics["startYear"].astype(int) <= 2021
df_basics = df_basics[filter]

In [14]:
filter = df_basics["startYear"].astype(int) >= 2000
df_basics = df_basics[filter]

In [15]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,60,"Action,Crime"
13081,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary
15176,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,"Comedy,Romance"
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,\N,70,Drama

In [16]:
filter = df_basics["genres"] = "fiction"
df_basics = df_basics[filter]

KeyError: 'fiction'

In [17]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,60,fiction
13081,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,fiction
15176,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,fiction
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,fiction
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,\N,70,fiction

In [18]:
df_basics.to_csv('title.basics.csv.gz', compression='gzip')

In [19]:
df_akas = pd.read_csv('C:/Users/x473970/Downloads/title.akas.tsv.gz', compression='gzip', 
                                 header=0, sep='\t', quotechar='"')

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [21]:
df_akas['region'].replace("\\N" "", inplace=True)
df_akas.dropna(subset=['region'], inplace=True)

In [22]:
filter = df_akas['region'] = 'US'
df_akas = df_akas[filter]

KeyError: 'US'

In [23]:
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,US,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,US,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,US,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,US,\N,imdbDisplay,\N,0

In [24]:
df_akas.to_csv('title.akas.csv.gz', compression='gzip')

In [25]:
df_ratings.to_csv('title.ratings.csv.gz', compression='gzip')

In [26]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37527037 entries, 0 to 37527209
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.5+ GB

In [27]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6413820 entries, 11636 to 10248780
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       int64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 489.3+ MB

In [28]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360556 entries, 0 to 1360555
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1360556 non-null  object
 1   averageRating  1360556 non-null  float64
 2   numVotes       1360556 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.1+ MB

## Project3 Part2

In [2]:
import json
with open('/Users/X473970/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [3]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [4]:
## make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

In [5]:
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2000.json', 'tmdb_api_results_2001.json']

In [6]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [10]:

basics = pd.read_csv('title.basics.csv.gz')

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
YEARS_TO_GET = [2000,2001]

In [12]:
errors = [ ]

In [13]:
# Start of OUTER loop
for YEAR in tqdm(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json';
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

HBox(children=(HTML(value='YEARS'), FloatProgress(value=0.0, max=2.0), HTML(value='')))

In [14]:
def get_movie_with_rating(movie_id):
    movie= tmdb.Movies(movie_id)

    info= movie.info()

    release = movie.releases()

    for i in release['countries']:
        if i['iso_3166_1'] == 'US':
            info['certification'] = i['certification']
    
    return info

In [15]:
for movie_id in tqdm(movie_ids_to_get,
                                 desc=f'Movies from {YEAR}',
                                position=1,
                                leave=True):
    try:
         # Retrieve then data for the movie id
        temp = get_movie_with_rating(movie_id)  
         # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
         # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
            
    except Exception as e:
        errors.append([movie_id, e])

HBox(children=(HTML(value='Movies from 2001'), FloatProgress(value=0.0, max=117692.0), HTML(value='')))